.side
  .list
    .list__icon
    = link_to '#' do
      = icon('fas','paw')
    .list__contents
      .list__contents--name
      バイヤーの名前
      .list__contensts--brand
      = link_to new_message_path do
        = icon('fas','paw')
      チャットする
      = link_to new_product_path do
        = icon('fas','shopping-cart')
      オンラインストア
  .list
    .list__icon
    = link_to '#' do
      = icon('fas','paw')
    .list__contents
      .list__contents--name
      バイヤーの名前
      .list__contensts--brand
      = link_to '#' do
        = icon('fas','paw')
      チャットする
      = link_to new_product_path do
        = icon('fas','shopping-cart')
      オンラインストア