.wrapper
  .topheader
    .topheader__left--logout
      = link_to root_path do
        = icon('fas','undo-alt')
        Back
  .main
    .main__profile
      .main_img
      .main_name
        #{@shop.name}
      .main_email
        #{@shop.email}
      .main_profile
        #{@shop.genre}
      .main_profile
        = image_tag @shop.shop_image.url
    .main__edition
      = link_to edit_shop_registration_path do
        = icon('fas','cogs')
        Edition

