- if user_signed_in?
  .wrapper
    .topheader
      .topheader__left
        .list
        .topheader__left--logout
          = link_to  destroy_user_session_path, method: :delete do
            = icon('fas','sign-out-alt')
            Logout
        .topheader__left--chat
          = form_tag(searches_path,method: :get) do
            = text_field_tag :search, "",placeholder:"What do you want？",class:'form_tag'
            = submit_tag 'SERARCH', :name => nil
        .topheader__right
          .topheader__right--user
            = link_to user_path(current_user.id) do
              = icon('fas','smile')
              = current_user.username
    .main-chat
      .roomtitle
        Let's chat & shopping
      .members
        - @shops.each do |shop|
          %ul.profile
            %img{src: "shop1.png",height:"16%",width:"88%"}
            %li
            = shop.name
            %li
            = shop.genre
            / もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成
            - if @shop_ids.include?(shop.id)
              %br/
              = link_to "Chat", room_path(current_user.rooms.find_by(shop_id: shop.id)),class:"list"
              %br/
            - else
              = form_for Room.new do |f|
                = f.hidden_field :shop_id, :value => shop.id
                = f.submit
- elsif shop_signed_in?
  .wrapper
    .topheader
      .topheader__left
        .topheader__left--logout
        = link_to destroy_user_session_path, method: :delete do 
          = icon('fas','sign-out-alt')
          Logout
        .topheader__left--icon
        = link_to new_product_path do          
          = icon('fas','comment-alt')
          Products
        .topheader__right
          .topheader__right--user
            = link_to shop_path(current_shop.id) do
              = icon('fas','smile')
              = current_shop.name
    .main-chat
      .roomtitle
        Let's recommend & teach your fasshion
      .members
        - @users.each do |user|
          %ul.profile
            %img{src: "user1.png",height:"16%",width:"88%"}
            %li
            = user.username
            %li
            = user.profile
            / もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成/
            - if @user_ids.include?(user.id)
              = link_to "Chat", room_path(current_shop.rooms.find_by(user_id: user.id))
            - else
              = form_for Room.new do |f|
                = f.hidden_field :user_id, :value => user.id
                = f.submit
- else
  .wrapper
    .main-login
    .main-log-text
      .main__box__user
        %h2 User
        = link_to "Log in", new_user_session_path,{class: "user-log-in"}

        = link_to "Sign up", new_user_registration_path,{class: "user-sign-up"}
        .main__box__user__description
          ファッションのプロ
          %br
          に洋服を選んでもらおう
      .main__box__shop
        %h2 Shop
        = link_to "Log in", new_shop_session_path ,{class: "shop-log-in"}

        = link_to "Sign up", new_shop_registration_path ,{class: "shop-sign-up"}
        .main__box__shop__recommend
          ファッションの極意
          %br
          教えてください

  
  