.wrapper
  .topheader
    .topheader__left--logout
      = link_to root_path do
        = icon('fas','undo-alt')
        Back
  .main
    .main__profile
      .main_img
      .main_name
        = @user.username
      .main_email
        メールアドレス :
        = @user.email
      .main_profile
        プロフィール :
        = @user.profile
    .main__edition
      = link_to edit_user_registration_path do
        = icon('fas','cogs')
        Edition

