.wrapper
  .topheader
  .main
    .main__box__edition
      ((個人情報))
      .main_name
        ユーザー名 :
        = @user.username
      .main_email
        メールアドレス :
        = @user.email
      .main_profile
        プロフィール :
        = @user.profile
      
      = link_to '情報編集ページ' ,edit_user_registration_path
      = link_to 'トップページ' ,user_session_path
