.wrapper
  .header
    .header__left
  .main
    %h1 ((個人情報))
    %h3 ユーザー名
    = @user.username
    %h3 メールアドレス
    = @user.email
    %h3 プロフィール
    = @user.profile
    = link_to '情報編集ページ' ,edit_user_registration_path
    = link_to 'トップページ' ,user_session_path
