.wrapper
  .topheader
    .topheader__left
      .list
        .topheader__left--logout
          = link_to root_path do
            = icon('fas','undo-alt')
            Back
      .topheader__left--chat
        = form_tag(searches_path,method: :get) do
          = text_field_tag :search, "",placeholder:"What do you want？",class:'form_tag'
          = submit_tag 'search', :name => nil
      .topheader__right
        .topheader__right--user
  .main
    .search
      .search-container
        .search-left
          
        .search-right
          %section.items-box-container
            -if @search.length == 0 || @products.length == 0
              %h2.search-result-nil
                Sorry, not found 
              .items-box-content
            -else
              %h2.search-result-head
                =@search
                %span.search-result-head-text
                  の検索結果
              .search-result-number
                ="1-#{@products.count}件表示"
                .search-result-content
                - @products.each do |product|
                  .product
                    - if @shop_ids.include?(product.shop.id)
                      =link_to room_path(current_user.rooms.find_by(shop_id: @shops.ids)) do
                        .product__image
                          = image_tag product.image.url,size:'100x100',class: "figure"
                        .product__content
                          .product__content__name
                            = product.name
                          %ul.price
                            %li 
                              ￥
                              = product.price
                              (税込)
                            %li
                    - else
                      =link_to "#" do
                        .product__image
                          = image_tag product.image.url, size:'100x100',class: "figure"
                        .product__content
                          .product__content__name
                            = product.name
                          %ul.price
                            %li 
                              ￥
                              = product.price
                              (税込)
                            %li

              