.wrapper
  .header
  .main
    %h2 ショップ一覧
    - @shops.each do |shop|
      = shop.name
      / もしチャットルームがあったらそのチャットページへ。なければ新たなチャットルームを作成
      - if @shop_ids.include?(shop.id)
        %br/
        = link_to "チャットへ", room_path(current_user.rooms.find_by(shop_id: shop.id))
        %br/
      - else
        = form_for Room.new do |f|
          = f.hidden_field :shop_id, :value => shop.id
          = f.submit
