- if user_signed_in?
  .wrapper
    .topheader
      .topheader__left
        .list
        .topheader__left--logout
          = link_to root_path do
            = icon('fas','undo-alt')
            Back
        .topheader__left--chat

        .topheader__right--name
          = @shop.name
            
            
    .main
      .chat-field
        - @shops = Shop.all
        - @messages.each do |m|
          / メッセージがUserによるものだったら
          - if m.is_user
            / メッセージを右に寄せる
            .right-message
              = m.content
            / メッセージがShopによるものだったら
          - else
            / メッセージを左に寄せる
            .left-message
              = m.content
    .footer
      = form_for [@room, @message] do |f|
        = f.text_field :content,class:"text_field"
        = f.submit "SEND",class: "form__submit",id: "new-message"

- elsif shop_signed_in?
  .wrapper
    .topheader
      .topheader__left
        .topheader__left--logout
          = link_to root_path do
            = icon('fas','undo-alt')
            Back
        .topheader__left--chat
          
        .topheader__right--name
          = @user.username


    .main
      .chat-field
        - @messages.each do |m|
          / メッセージがUserによるものだったら
          - if m.is_user
            / メッセージを左に寄せる
            .left-message
              = m.content
            / メッセージがShopによるものだったら
          - else
            / メッセージを右に寄せる
            .right-message
              = m.content
    .footer
      = form_for [@room, @message] do |f|
        = f.text_field :content,class:"text_field"
        = f.submit "SEND",class: "form__submit",id: "new-message"


      
