.wrapper
  .topheader
    .topheader__left--logout
      = link_to root_path do
        = icon('fas','undo-alt')
        Back
    .topheader__title
      Product inventory management

  .main-products__management     
    %table
      %tr
        %th 商品名 
        %th 価格
        %th その他
      %tbody
        - @products.each do |product|
          %tr
            %td= product.name
            %td= product.price
            %br
            %td= link_to '[詳細表示] ', product
            %br
            %td= link_to ' [編集]', edit_product_path(product)
            %br
            %td= link_to ' [削除]', product, method: :delete, data: { confirm: 'Are you sure?' }
  
    


